.start-task-container {
  background: #fff;
  border-radius: 2px;
  margin: 30px auto;
  width: 40%;
  padding: 30px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.start-task-container:hover {
  box-shadow: 0 24px 38px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.start-task-container-title {
  margin-top: 10px;
  font-size: 1.5em;
  bottom: 5px;
  color: #575757;
  text-align: center;
}

.start-task-container label {
  color: #575757;
  font-weight: bold;
}


tr {
  border-bottom: 1px solid #ddd;
}

th, td {
  padding: 2px 5px 0 0;
  text-align: center;
}

table {
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

md-input-container {
  width: 100%;
}
