<div class="start-task-container">
  <h3 class="start-task-container-title mat-title">Start a Task</h3>
  <div>
    <div class="general-data-container">
      <md-input-container>
        <input mdInput placeholder="Select a Task"  [(ngModel)]="selectedTaskName" [mdAutocomplete]="auto" [formControl]="taskCtrl">
      </md-input-container>

      <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let task of filtredTasks | async" [value]="task.name" (onSelectionChange)="loadParams(task.name)">
          {{ task.name }}
        </md-option>
      </md-autocomplete>

      <div *ngIf="getSelectedTask()">
        <label>Parameters</label>
        <table>
          <thead>
          <th></th>
          <th>Name</th>
          <th>Type</th>
          <th></th>
          </thead>

          <tbody>
          <tr *ngFor="let param_definition of getSelectedTask().param_definitions; let i =index">
            <td>{{i + 1}}</td>
            <td>{{param_definition.name}}</td>
            <td>{{param_definition.type}}</td>
            <td class="param-value">
              <md-input-container>
                <input mdInput placeholder="Parameter Value">
              </md-input-container>
            </td>

          </tr>
          </tbody>

        </table>
      </div>

    </div>
  </div>

  <br><br>
  <button (click)="startJob()" class="add-task-btn-save" md-raised-button>Run</button>
</div>

